{% if photos %}
<h2>Here are all photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
         <li>
            <form action="{{url_for('commentPhoto', pid=photo[1])}}" method="post">
            <h1> Leave a comment! </h1>
                <label for="comment">Enter Comment:</label>
                <input type="text" name= "comment" /><br />
                <input type="submit" />
            </form>
            </li>
        <li><a href='/viewComments/{{photo[1]}}'>View Comments</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if albums %}
<h2>Here are {{album_name}}'s Photos</h2>
    <u1>
        {% for photo in albums %}
        <li>{{photo[2]}}<br>
            <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
             <li>
            <form action="{{url_for('commentPhoto', pid=photo[1])}}" method="post">
            <h1> Leave a comment! </h1>
                <label for="comment">Enter Comment:</label>
                <input type="text" name= "comment" /><br />
                <input type="submit" />
            </form>
            </li>
        <li><a href='/viewComments/{{photo[1]}}'>View Comments</a></li>
        {% endfor %}
    </u1>
{% endif %}

<li><a href='/'>Home</a></li>